# Ignore Python bytecode cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment files
.env
.venv
env/
venv/

# Ignore Data Upload Files (this is files that get imported to database)
data/

# Ignore system-specific files
.DS_Store
Thumbs.db
